
public class SpellingBackwards {

  public static String readBackwards(String randomLine) {
    // TODO change with your own Success template. This should be one of the possible solutions.
    char[] reversePhrase = phrase.toCharArray();
    for (int i = 0; i < Math.floor(reversePhrase.length / 2); i++) {
      char c = reversePhrase[i];
      reversePhrase[i] = reversePhrase[reversePhrase.length - 1 - i];
      reversePhrase[reversePhrase.length - 1 - i] = c;
    }
    return new String(reversePhrase);
  }
}
