#include "spelling-backwards.h"
#include <string>
#include <fstream>

using namespace std;

string SpellingBackwards::read_backwards(const string line) {
  string result(line);
  throw new std::exception();
}
